<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'manageApp/style.css' %}"> 
        <title>Add Team Members</title>        
    </head>
    <body>
        <div id='main'>
            <header>
                <h2>Add a team member</h2>
                <p>Set location, email, and role</p>
                <hr>
            </header>
            <div id='content'>
                <form id='val-form' action="{%url 'manageApp:add' %}" method='post'>
                    {% csrf_token %}
                    <p> {{ form.non_field_errors }} </p>
                    <h3> Info </h3>
                    <p>
                        {{form.firstName.errors}}
                        &#160;
                        {{form.firstName}}
                    </p>
                    <p>
                        {{form.lastName.errors}}
                        &#160;
                        {{form.lastName}}
                    </p>
                    <p>
                        {{form.email.errors}}
                        &#160;
                        {{form.email}}
                    </p>
                    {%if errorMsg|length > 0%}
                        <ul><li>{{errorMsg}}</li></ul>
                    {%endif%}
                    <p>
                        {{form.phoneNum.errors}}
                        &#160;
                        {{form.phoneNum}}
                    </p>
                    <h3> Role </h3>
                    <p id='radio'>
                        {{form.role.errors}}
                        {%for role in form.role%}
                            <p >
                                {{role}}
                                <hr>
                            </p>
                        {%endfor%}
                    </p>
                </form>
                <div id='btns'>
                    <input form='val-form' type="submit" value="Save">
                    <a href="{%url 'manageApp:index'%}"> 
                        <input type="submit" value="Back">
                    </a>
                </div>
            </div>
        </div> 
    </body>
</html>